img {
    width: 400px;
    height: 400px;
    margin-left: 3%;
}
body {
    color: blue;
}
h1 {
    margin-left: 10%;
}
.cont {
    margin-left: 38%;
    
}
p {
    width: 500px;
}
footer {
    margin-left: 42%;
    margin-top: 19%;
}